@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}

/* Link */
a {
  font-weight: 600;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.7;
}

@keyframes smhAnimation {
  0% {
    transform: translateX(0);
  }

  12.5% {
    transform: translateX(-6px) rotateY(-5deg);
  }

  37.5% {
    transform: translateX(5px) rotateY(4deg);
  }

  62.5% {
    transform: translateX(-3px) rotateY(-2deg);
  }

  87.5% {
    transform: translateX(2px) rotateY(1deg);
  }

  100% {
    transform: translateX(0);
  }
}

/* General */
.singapore-flag {
  object-position: -444px -160px;
  height: 15px;
}

.smh-container {
  perspective: 800px;
}

.smh-card--animate {
  animation: smhAnimation ease-in-out 400ms;
}

#nprogress .bar {
  background-color: #9e77ed !important;
}
